<div style="margin-top: 2rem;"></div> <!-- 🔥 Add spacing above the experience section -->

<h2>Experiences</h2>

<style>
  .experience-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
  }

  .experience-table td {
    vertical-align: top;
    padding-bottom: 1.5rem;
  }

  .experience-logo-cell {
    width: 17%;
    padding-left: 0rem; /* Ensure the logo is moved slightly to the left */
    padding-right: 0rem;
    text-align: center;
  }

  .experience-logo {
    width: 50px;
    height: auto;
    margin-left: -26px; /* 🔥 This shifts the logo left */
    margin-top: 5px; /* 🔥 This moves the logo downward */
  }

  .experience-text {
    font-size: 1rem;
    line-height: 1.4;
  }

  .experience-text a {
    color: #007acc;
    text-decoration: none;
  }

  .experience-text a:hover {
    text-decoration: underline;
  }
</style>


<table class="experience-table">
  <div style="margin-top: 0.75rem;"></div> <!-- 🔥 Add spacing above the experience section -->
  <tr>
    <td class="experience-logo-cell">
      <img src="/assets/img/logos/adobe.png" alt="Adobe Logo" class="experience-logo">
    </td>
    <td class="experience-text">
      <strong>Adobe</strong>, <em>May 2025 – November 2025</em><br>
      Research Scientist/Engineer Intern<br>
      Mentor: <a href="https://yifanfanfanfan.github.io/" target="_blank">Dr. Yifan Gong</a><br>
      Topic: Efficient Diffusion-based Video Generation
    </td>
  </tr>
</table>


